@font-face{
    
    src: local(BGizzle) url(./fonts/BGizzle.ttf) format('truetype');
    font-family: "BGizzle";
    font-style: normal;
    font-weight: normal;
}

$border-radius-5: 5px; 


body {
    background: aqua;
    
}


.page {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;  
}

.container{
    width: 100%;
    overflow: auto;
    height: calc(100vh - 100px);    
}

.content{    
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: yellow; 
    border-radius: $border-radius-5;
    max-height: 100%;
}

.header,
.group-header {
    height: 40px;
    margin: 5px 10px;
    background: yellow;
    border-radius: $border-radius-5;
}     

.footer,
.group-footer {
    margin: 5px 10px;
    opacity: 0.5;
}
.card {
    margin: 10px;
    width: 300px;
    height: 150px;
    background: yellowgreen;
    border-radius: $border-radius-5;
    overflow: auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;
}

.card-status {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
   
}

.newGroup{
    order: 99;
    // display: none;
    
}

.newGroup-button{
    background: none;
    border: 0;
    padding: 0;
    text-align: left;  
    width: 100%;
    font-size: 18px;
}

.btn {

}


